nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightyellow;
}

li {
    display: inline;
    margin: 10px;
    padding: 10px;
    font: 30px;
}

textarea {
    resize:both;
}

section {
    display: flex;
}

.item {
    display: inline;;
}

.item img {
    width: 150px;
    height: 150px;
}

footer {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}
